@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ASP_NotesApp.Models.Domain.Note>

<div class="container-fluid" id="content-note">
    
</div>
    <div class="info-message" id="notificationContainer">
        <p class="notification-message" id="notificationMessage"><b></b></p>
    </div>

<div class="modal fade" id="noteModal">
    <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-body" id="noteModalBodyDiv"></div>             
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            let url = "/Note/GetNotesList";

    $("#content-note").load(url, function () {
        
    }) })  
    </script>
}