@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ASP_NotesApp.Models.Domain.Note>

<div class="text-center">
    @foreach(var mod in Model)
    {
        <p>@mod.NoteBody</p> <p>@mod.Title</p>
    }
</div>
