@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ASP_NotesApp.Models.Domain.Note>

<div class="container-fluid">
    <div class="row row-cols-6">
    @foreach(var mod in Model)
    {
        <div class="col note">
            <div class="note-content"> 
                <p>@Html.Raw(mod.Title)</p> 
                <p>@Html.Raw(mod.NoteBody)</p>
            </div>
            <div class="footer-note">
                <a class="delete-note" onclick="deleteFromTrashCan(@mod.Id)"><img src="/img/deleteForever.svg"></a>
                <a class="recover-note" onclick="recoverFromTrashCan(@mod.Id)"><img src="/img/recover.svg"></a>
            </div>
        </div>       
    }
    </div>
</div>