html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
}

.email.form-control {
    background: url(../img/mail.svg) no-repeat scroll 7px 7px;
    background-size: 7%;
    background-color: white;
    padding-left: 35px;
}

.password.form-control {
    background: url(../img/password.svg) no-repeat scroll 7px 7px;
    background-color: white;
    background-size: 6%;
    padding-left: 35px;
}

.form-control.register {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 70%;
}

.button.register {
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 100px;
    margin-bottom: 10px;
    padding: 2% 20% 2% 20%;
}

.btn.danger {
    background-color: darkred;
}

.edit-block {
    padding-top: 15px;
}

.form-group.note-body {
    padding-bottom: 20px;
}

.register-form {
    background-color: #ff31f34d;
    border-radius: 30px;
    display: block;
    margin: 10% auto 7% auto;
    width: 40%;
}

.title.register {
    text-align: center;
    padding: 5%;
}

.edit-block.button {
    padding: 5%;
}

.register-notes {
    text-align: center;
    padding-bottom: 15px;
}
.error-message.register {
    color: red;
    padding-left: 68px;
    padding-top: 10px;
}

.col.note {
    border-radius: 15px;
    background-color: white;
    word-wrap:break-word;
    margin: 5px;
    border-style: double;
    border-width: 2px;
    border-color: #9f9696;
}

input[type=checkbox]:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/pin-deactive.svg);
}

input[type=checkbox]:checked:before {
    background-image: url(../img/pin-active.svg);
}

.form-control.pin {
    width: auto;
    display: inline-block;
    box-shadow: none;
    float: right;
    border-style: none;
}

.form-control.title {
    width: 200%;
}

.form-group.title {
    display: inline-block;
    width: 45%;
}

.form-control.body {
    margin-top: 10px;
}

.footer-note {
    flex: 0 0 auto;
    height: 30px;
}

.note-content {
    flex: 1 0 auto;
}

.col.note {
    height: 100%;
}


.form-control.body {
    margin-bottom: 5px;
}

.button-add {
    padding-top: 20px;
}

.note-header {
    display: flex;
    margin-bottom: 20px;
    padding-top: 20px;
    justify-content: space-between;
}

.nav-link {
    border-radius: 0px !important;
    transition: all 0.5s;
    width: 70px;
    display: flex;
    flex-direction: column
}

    .nav-link small {
        font-size: 12px
    }

    .nav-link:hover {
        background-color: #52525240 !important
    }

    .nav-link .fa {
        transition: all 1s;
        font-size: 20px
    }

    .nav-link:hover .fa {
        transform: rotate(360deg)
    }

.header {
    position: fixed;
}

.btn.filter {
    margin-top: 24px;
    color: black;
    background-color: mediumpurple;
}


.note.filter {
    width: 100%;
}

.row.row-cols-6.unpinned {
    margin-top: 25px;
}

.name.form-control.register {
    background: url(../img/avatar.svg) no-repeat scroll 7px 7px;
    background-size: 7%;
    background-color: white;
    padding-left: 35px;
}

.edit-user {
    background-color: #ff31f34d;
    border-radius: 30px;
    display: block;
    margin: 10% auto 7% auto;
    padding: 33px;
    width: 75%;
}

.info-message {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
}

.info-message {
    display: none;
}

.info-message.active {
    display: inherit;
}

.notification-message {
    margin-top: 11px;
}

.search-block {
    width: 100%;
}

.ck-content .text-tiny {
    font-size: 0.7em;
}

.ck-content .text-small {
    font-size: 0.85em;
}

.ck-content .text-big {
    font-size: 1.4em;
}

.ck-content .text-huge {
    font-size: 1.8em;
}

.header-note {
    width: 100%;
    justify-content: space-between;
}

.pin-out {
    float: right;
    width: 15%;
    display: none;
    margin-top: 3px;
}

.unPin {
    float: right;
    width: 15%;
    display: none;
    margin-top: 3px;
}

.delete-note, .archive-note, .recover-note, .unArchive-note {
    z-index: 999;
    display: none;
}

.user-avatar-edit {
    width: 100%;
    height: 70px;
}

.back-arrow {
    width: 3%;
    height: 3%;
    position: absolute;
}

.button-block-edit {
    text-align: center;
    margin-top: 30px;
}

.form-group.edit-user {
    width: 70%;
    background-color: #99c8f1c4;
}

.btn {
    background-color: #622e8d;
    border-color: none;
    color: white;
}

.btn.edit-user {
    margin: auto;
    padding: 10px;
    width: 40%;
}